# Backend
backend/vendor/
backend/.env
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*
backend/.phpstorm.meta.php
backend/_ide_helper.php
backend/.rnd

# Frontend
frontend/node_modules/
frontend/build/
frontend/src/config.js

# OS
.DS_Store
Thumbs.db

backend-legacy/


frontend-legacy/
frontend/dist/
frontend/.env

