.fixed-top-right {
    position: fixed;
    top: 40px;
    right: 0;
    width: 300px;
    z-index: 9999;
}

.temp-msg {
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 7px black;
}

.temp-msg h5 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}


.temp-msg p {
    font-size: 12px;
    margin: 5px 0;
    padding: 0;
}