html, body {
    font-size: 14px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.bw1p {
    border-width: 1px;
}

.Select-menu-outer {
    z-index: 999 !important;
}